* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: white;
}
.logo{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: orangered;
    position: sticky;
    top: 0;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: gray;
}