* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.logo{
    height: 10px;
    width: 10px;
}
ul li{
    list-style: none;
}
hr{
    border: 3px solid orangered;
    border-radius: 5px;
    margin: 20px 0;
    margin-top: 50px;
}
body{
    background-color: bisque;
}
img{
    height: 40px;
    width: 40px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
section{
    margin: 50px;
    text-align: center;
    color: orangered;
}
header img {
    height: 250px;
    width: 250px;
    border-style: none;
    border-radius: 15px;
}


/* Nav section */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: orangered;
    z-index: 999;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav h2 {
    color: white;
    margin-right: auto;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: gray;
}


#h2{
    margin-left: 10px;
}
#about{
    margin-top: 100px;
    text-align: center;
    color: orangered;
}
#services{
    margin-top: 100px;
    text-align: center;
    color: orangered;
}
#contact{
    margin-top: 100px;
    text-align: center;
    color: orangered;
    margin-bottom: 100px;
}